 :root {
   
  /*************************************************
 * __      __        _       _     _             *
 * \ \    / /       (_)     | |   | |            *
 *  \ \  / /_ _ _ __ _  __ _| |__ | | ___ _ __   *
 *   \ \/ / _` | '__| |/ _` | '_ \| |/ _ \ '_ \  *
 *    \  / (_| | |  | | (_| | |_) | |  __/ | | | *
 *     \/ \__,_|_|  |_|\__,_|_.__/|_|\___|_| |_| *
 *************************************************/
   
   /* Minimal Functional Fox variables*/
  --mff-bg: #2e3440; /* Allgemeine Hintergrundfarbe */
  --mff-icon-color: #eceff4;
  --mff-nav-toolbar-padding: 2px; /* 8 */
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #eceff4;
  --mff-tab-border-radius: 0px;
  --mff-tab-color:  #eceff4;
  --mff-tab-font-family: "Cantarell", sans;
  --mff-tab-font-size: 8pt; /* 12 */
  --mff-tab-font-weight: 400;
  --mff-tab-height: 28px; /* 32 */
  --mff-tab-color-bg: #4c566a;
  --mff-tab-pinned-bg: #88c0d0;
  --mff-tab-selected-bg: #8fbcbb;
  --mff-tab-soundplaying-bg: #b48ead;
  --mff-urlbar-color: #81a1c1;
  --mff-urlbar-focused-color: #eceff4;
  --mff-urlbar-font-family: "Cantarell", serif;
  --mff-urlbar-font-size: 8pt; /* 12 */
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #eceff4;
  --mff-urlbar-results-font-family: "Cantarell", sans;
  --mff-urlbar-results-font-size: 8pt; /* 12 */
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #81a1c1;
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color:  #eceff4 !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #4c566a;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
}

/*********************************************************************************************
 *  _______    _                ______ _           _       _ _                               *
 * |__   __|  | |              |  ____(_)         | |     | | |                              *
 *    | | __ _| |__    ______  | |__   _ _ __  ___| |_ ___| | |_   _ _ __   __ _  ___ _ __   *
 *    | |/ _` | '_ \  |______| |  __| | | '_ \/ __| __/ _ \ | | | | | '_ \ / _` |/ _ \ '_ \  *
 *    | | (_| | |_) |          | |____| | | | \__ \ ||  __/ | | |_| | | | | (_| |  __/ | | | *
 *    |_|\__,_|_.__/           |______|_|_| |_|___/\__\___|_|_|\__,_|_| |_|\__, |\___|_| |_| *
 *                                                                          __/ |            *
 *                                                                         |___/             *
 *********************************************************************************************/

.tab-background[selected="true"] {
  background: var(--mff-tab-selected-bg) !important;
}

.tab-background:not[visuallyselected] {
  background: var(--mff-tab-selected-bg) !important;
  opacity: 0.5 !important;
}

/* This positions the tabs under the navigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

.tab-background {
  border: none !important;
}

.tabbrowser-arrowscrollbox {
  margin-inline-start: 4px !important;
  margin-inline-end: 0px !important;
}

.tab-close-button {
 display: none !important;
}

.tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: var(--mff-tab-color);
}

/* Hide the favicon for tabs */
hbox.tab-content .tab-icon-image {
 /* display: none !important; */
 display: initial !important;
}

/* Show the favicon for tabs that are pinned */
hbox.tab-content[pinned=true] .tab-icon-image {
  display: initial !important;
}

hbox.tab-content[pinned=true] .tab-text {
  display: none !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: #a3be8c !important;

}

.tab-label-container:not([textoverflow]) {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

/* .tab-label-container::after {
  content: "?" !important;

} */

.tab-line {
  display: none !important;
}

.tabbrowser-tab {
  background-color: var(--mff-tab-color-bg) !important;
  border-radius: var(--mff-tab-border-radius) !important;
  border-width: 0;
  height: var(--mff-tab-height) !important;
  margin-bottom: 0px !important; /* 4 */
  margin-inline-end: 0px !important; /* 4 */
  margin-top: 0px !important; /* 4 */
  max-height: var(--mff-tab-height) !important;
  min-height: var(--mff-tab-height) !important;
}

.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mff-tab-soundplaying-bg) !important;
}

#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
  opacity: 0.7;
}

.tab-icon-sound {
  display: none !important;
}

/****************************************************************************************************************
 *  _______          _ _                           ______ _           _       _ _                               *
 * |__   __|        | | |                         |  ____(_)         | |     | | |                              *
 *    | | ___   ___ | | |__   __ _ _ __   ______  | |__   _ _ __  ___| |_ ___| | |_   _ _ __   __ _  ___ _ __   *
 *    | |/ _ \ / _ \| | '_ \ / _` | '__| |______| |  __| | | '_ \/ __| __/ _ \ | | | | | '_ \ / _` |/ _ \ '_ \  *
 *    | | (_) | (_) | | |_) | (_| | |             | |____| | | | \__ \ ||  __/ | | |_| | | | | (_| |  __/ | | | *
 *    |_|\___/ \___/|_|_.__/ \__,_|_|             |______|_|_| |_|___/\__\___|_|_|\__,_|_| |_|\__, |\___|_| |_| *
 *                                                                                             __/ |            *
 *                                                                                            |___/             *
 ****************************************************************************************************************/

/*#nav-bar {
  height: 34px !important;
}

#nav-bar .toolbarbutton-1:not([type="menu-button"]), 
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, 
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding: 2px !important; 
} */
.urlbar-icon > image {
  fill: var(--mff-icon-color) !important;
  color: var(--mff-icon-color) !important;
}

.toolbarbutton-text {
  color: var(--mff-icon-color)  !important;
}
.urlbar-icon {
  color: var(--mff-icon-color)  !important;

}

.toolbarbutton-icon {
/* filter: drop-shadow(0 0 0.75rem crimson); */
}

#urlbar-results {
  font-family: var(--mff-urlbar-results-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-results-font-size) !important;
  color: var(--mff-urlbar-results-color) !important;
}

.urlbarView-row[type="bookmark"] > span{
  color: #a3be8c !important;
}gre

.urlbarView-row[type="switchtab"] > span{
  color: #ebcb8b !important;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: var(--mff-urlbar-results-url-color) !important;
  font-family: var(--mff-urlbar-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-font-size) !important;
}

.urlbarView-favicon, .urlbarView-type-icon {
  display: none !important;
}

#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important;
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight)!important;
  text-align: center !important;
}

#tracking-protection-icon-container, #identity-box {
  display: none;
}

#back-button > .toolbarbutton-icon{
  --backbutton-background: transparent !important;
  border: none !important;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

toolbar {
  background-image: none !important;
}

#urlbar-background {
  opacity: 1 !important; /*.98 */ 
}

#navigator-toolbox, toolbaritem {
  border: none !important;
}

#urlbar-background {
  background-color: var(--mff-bg) !important;
  border: none !important;
}

.toolbar-items {
  background-color: var(--mff-bg) !important;
}

#sidebar-search-container {
  background-color: var(--mff-sidebar-bg) !important;
}

box.panel-arrowbox {
  display: none;
}

box.panel-arrowcontent {
  border-radius: 8px !important;
  border: none !important;
}

tab.tabbrowser-tab {
  overflow: hidden;
}

tab.tabbrowser-tab:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

image#star-button {
  display: none;
}

toolbar#nav-bar {
  padding: var(--mff-nav-toolbar-padding) !important;
}

toolbar#nav-bar {
  padding: 2px !important; /* 4 */
}

#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
  /* 	position: unset!important; */;
}

#urlbar-input:focus {
  color: var(--mff-urlbar-focused-color) !important;
}


.megabar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: none !important;
  background-color: transparent !important;
}

toolbarbutton {
  box-shadow: none !important;
}

/*
#navigator-toolbox{

  margin-top: -30px
}*/

#navigator-toolbox:not(:focus-within) {
  margin-top: -36px !important;
}*/



/*****************************************************************************************************************
 *   _____ _     _      _                           ______ _           _       _ _                               *
 *  / ____(_)   | |    | |                         |  ____(_)         | |     | | |                              *
 * | (___  _  __| | ___| |__   __ _ _ __   ______  | |__   _ _ __  ___| |_ ___| | |_   _ _ __   __ _  ___ _ __   *
 *  \___ \| |/ _` |/ _ \ '_ \ / _` | '__| |______| |  __| | | '_ \/ __| __/ _ \ | | | | | '_ \ / _` |/ _ \ '_ \  *
 *  ____) | | (_| |  __/ |_) | (_| | |             | |____| | | | \__ \ ||  __/ | | |_| | | | | (_| |  __/ | | | *
 * |_____/|_|\__,_|\___|_.__/ \__,_|_|             |______|_|_| |_|___/\__\___|_|_|\__,_|_| |_|\__, |\___|_| |_| *
 *                                                                                              __/ |            *
 *                                                                                             |___/             *
 *****************************************************************************************************************/

.close-icon, .urlbar-icon {
  fill: var(--mff-icon-color) !important;
}

.sidebar-placesTree {
  color: var(--mff-sidebar-color) !important;
}

#sidebar-switcher-target {
/*   color: white !important; */
}

#sidebar-box {
  --sidebar-background-color: var(--mff-sidebar-bg) !important;
}

splitter#sidebar-splitter {
  opacity: 0 !important;
}

splitter#sidebar-splitter {
  border: none !important;
  background-color: transparent !important;
}

image#sidebar-icon {
  display: none;
}


/*************************************************************************************************************************************
 *                                                         _            ______ _           _       _ _                               *
 *     /\                                                 | |          |  ____(_)         | |     | | |                              *
 *    /  \   _ __ _ __ _____      ___ __   __ _ _ __   ___| |  ______  | |__   _ _ __  ___| |_ ___| | |_   _ _ __   __ _  ___ _ __   *
 *   / /\ \ | '__| '__/ _ \ \ /\ / / '_ \ / _` | '_ \ / _ \ | |______| |  __| | | '_ \/ __| __/ _ \ | | | | | '_ \ / _` |/ _ \ '_ \  *
 *  / ____ \| |  | | | (_) \ V  V /| |_) | (_| | | | |  __/ |          | |____| | | | \__ \ ||  __/ | | |_| | | | | (_| |  __/ | | | *
 * /_/    \_\_|  |_|  \___/ \_/\_/ | .__/ \__,_|_| |_|\___|_|          |______|_|_| |_|___/\__\___|_|_|\__,_|_| |_|\__, |\___|_| |_| *
 *                                 | |                                                                              __/ |            *
 *                                 |_|                                                                             |___/             *
 *************************************************************************************************************************************/
.panel-arrowcontent {
  padding: 0px !important;
  margin: 0px !important;
}

toolbarseparator {
  display: none;
}

/*****************************************************************************
 *  __  __                  _                   _____ _         _            *
 * |  \/  |                | |                 / ____| |       | |           *
 * | \  / | ___  __ _  __ _| |__   __ _ _ __  | (___ | |_ _   _| | ___ _ __  *
 * | |\/| |/ _ \/ _` |/ _` | '_ \ / _` | '__|  \___ \| __| | | | |/ _ \ '__| *
 * | |  | |  __/ (_| | (_| | |_) | (_| | |     ____) | |_| |_| | |  __/ |    *
 * |_|  |_|\___|\__, |\__,_|_.__/ \__,_|_|    |_____/ \__|\__, |_|\___|_|    *
 *               __/ |                                     __/ |             *
 *              |___/                                     |___/              *
 *****************************************************************************/

/*** Megabar Styler General - version 2020-07-27 ***/



  /*** General Preferences ***/

  :root {

    /* Number of pixels of enlargement when URL bar is focused */

    --mbarstyler-popout-pixels: 0px; /* [0px - 7px] */



    /* Top Bar Display or Not */

    --mbarstyler-top-bar-display: block; /* [block,none] */



    /* Font sizes (default: 13.8px for title, 10.2px for URL) */

    --mbarstyler-title-font-size: 15px; /* [13px - 18px] */

    --mbarstyler-url-font-size: 13px; /* [12px - 16px] */



    /* Rows to show without scrolling */

    --mbarstyler-max-rows-without-scrolling: 10;



    /* Bottom border for each result row */

    --mbarstyler-bottom-border-width: 0px; /* [0px or 1px] */

    

    /* Match display style */

    --mbarstyler-match-weight: 700; /* [400,700] */

    --mbarstyler-match-background-opacity: 0.0; /* [0.0,0.05,0.1] */

  }



  /*** URL bar enlargement or lack thereof ***/



  /* Compute new position, width, and padding */

  #urlbar[breakout][breakout-extend] {

    top: calc(5px - var(--mbarstyler-popout-pixels)) !important;

    left: calc(0px - var(--mbarstyler-popout-pixels)) !important;

    width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;

    padding: var(--mbarstyler-popout-pixels) !important;

  }

  [uidensity="compact"] #urlbar[breakout][breakout-extend] {

    top: calc(3px - var(--mbarstyler-popout-pixels)) !important;

  }

  [uidensity="touch"] #urlbar[breakout][breakout-extend] {

    top: calc(4px - var(--mbarstyler-popout-pixels)) !important;

  }



  /* Prevent shift of URL bar contents */

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {

    height: var(--urlbar-height) !important;

    padding: 0 !important;

  }



  /* Do not animate */

  #urlbar[breakout][breakout-extend] > #urlbar-background {

    animation: none !important;;

  }



  /* Remove shadows */

  #urlbar[breakout][breakout-extend] > #urlbar-background {

    box-shadow: none !important;

  }



  /*** Top "Blue Bar" Display ***/



  .urlbarView-row:first-of-type {

    display: var(--mbarstyler-top-bar-display) !important;

  }



  /*** Font Sizes and Scrolling ***/



  /* Title font-size */

  .urlbarView-row .urlbarView-title {

    font-size: var(--mbarstyler-title-font-size) !important;

  }



  /* URL / action font-size */

  .urlbarView-row .urlbarView-secondary,

  .urlbarView-row .urlbarView-url,

  .urlbarView-row .urlbarView-action {

    font-size: var(--mbarstyler-url-font-size) !important;

  }



  /* Set max-height for items visible without scrolling */

  #urlbarView-results, #urlbar-results {

    height: unset !important;

    max-height: calc(2.5 * (var(--mbarstyler-title-font-size) + var(--mbarstyler-bottom-border-width)) * var(--mbarstyler-max-rows-without-scrolling)) !important;

  }

  #urlbar-results {

    overflow-y: auto !important; 

  }



  /* Clean up extra spacing at the top and bottom */  

  #urlbar-results {

    padding-top: 0 !important;

    padding-bottom: 0 !important;

  }



  /* Subtle border between results */

  .urlbarView-row:not(:last-of-type) {

    border-bottom: var(--mbarstyler-bottom-border-width) solid rgba(0, 0, 0, 0.1) !important;

  }



  /* Match Styling Like Fx43-47 */

  .urlbarView-row:not([selected]) .urlbarView-title strong,

  .urlbarView-row:not([selected]) .urlbarView-url strong {

    font-weight: var(--mbarstyler-match-weight) !important;

    border-radius: 2px;

    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, calc(var(--mbarstyler-match-background-opacity) * 2));

    background-color: rgba(0, 0, 0, var(--mbarstyler-match-background-opacity));

  }

  [lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-title strong,

  [lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-url strong {

    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, calc(var(--mbarstyler-match-background-opacity) * 2));

    background-color: rgba(255, 255, 255, var(--mbarstyler-match-background-opacity));

  }

  [lwthemetextcolor="bright"] .urlbarView-row:not([selected]) .urlbarView-title strong,

  [lwthemetextcolor="bright"] .urlbarView-row:not([selected]) .urlbarView-url strong {

    box-shadow: inset 0 0 1px 1px rgba(192, 192, 192, calc(var(--mbarstyler-match-background-opacity) * 4));

    background-color: rgba(192, 192, 192, calc(var(--mbarstyler-match-background-opacity) * 3));

  }



/*** End of: Megabar Styler General ***/


